body{
    overflow-x: hidden;
	padding: 0;
	margin: 0;
    margin:0px auto;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   
}

.section {text-align: center;}

.text { margin-left: 25%; margin-right: 25%; margin-top: 60px}

p {font-size: 19px;  text-align: justify; line-height: 200%; border-top: solid 1px; border-color: rgba(0,0,0,0.25); vertical-align: middle; display: table-cell; height: 10vw;}

.header {    position:-webkit-sticky; position:sticky; position:fixed; top:0; background-color: white; border-bottom: solid 1px; border-bottom-color: rgba(0,0,0,0.25); z-index: 1; background-color: white;  } 

.menu {  width: 100vw; height:60px; text-align: center; vertical-align: middle; font-size: 16px;  top:0; background-color: white; display: table-cell;  }

a { background-color: transparent; color: black; text-decoration: none;}
        
  .a {display: none}
 iframe {height: 25vw; margin-top: -25px;}

.gallery img { border-radius: 50vw; height: 40vw; margin-top: -60px}


.album {text-align: center;}

video {height: 100%; width: 100%; transform: scale(1)}


.banner { height:25vw; background-repeat: no-repeat; background-position: center; background-color:black; text-align: center; overflow: hidden; margin-bottom: 60px;}

#banner .fp-tableCell{
     vertical-align: top;
}


#iframe .fp-tableCell{
     
    vertical-align: top;
}


.picture{height: 15vw ; background-size: contain; background-repeat: no-repeat; background-position: center; }

.text img {margin: 20px; width: 30px; vertical-align: middle;}


.logo {
   height: 12vw;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 24000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 24000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 24000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 24000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}











* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  
    
    .banner {height: 50%;}
  
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
    .b {display: none}
    .a {display:inline;}
    .text { margin-left: 25px; margin-right: 25px;}
  
    
    }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
 
    
     .text { margin-left: 25px; margin-right: 25px; align-self: center; margin-top: 0; width:130%;}
    
    p {border-top: none; font-size: 16px;}
    
    video{transform: scale(1.55)}
    .banner {height: 100%; margin-bottom: 0px; width: 100%;}
    
    .gallery img{height: 20vw; margin-top: -40px;}
    
    .picture{height: 100%; width: 100%;}
    iframe {height: 100%; margin-right: 60vw;}

  
   .section .fp-tableCell{display: inline-flex;} 
    
     #gallery .fp-tableCell{display: table-cell;} 
  
   
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    .b {display: none}
    .a {display:inline;}
    .text { margin-left: 25px; margin-right: 25px; margin-top: 10px}
    video{transform: scale(1.6)}
    .banner {height: 75vw; margin-bottom: 5vw;}
    
    .gallery img{height: 90vw; margin-top: -60px;}
    
    .picture{height: 60vw;}
    iframe {height: 70vw;}

}
 