body{
	padding: 0;
	margin: 0;
    margin:0px auto;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   
    
    
   
}

.text {font-size: 19px;  text-align: justify; line-height: 200%; border-bottom: solid 1px; border-top: solid 1px; border-color: rgba(0,0,0,0.25);display: table-cell; vertical-align: middle; height: 200px; width: 850px}

.header {    position:-webkit-sticky; position:sticky; position:fixed; top:0; background-color: white; border-bottom: solid 1px; border-bottom-color: rgba(0,0,0,0.25); z-index: 1; background-color: white; } 

.menu {  width: 100vw; height:60px; text-align: center; vertical-align: middle; font-size: 16px;  top:0; background-color: white; display: table-cell;  }

a { background-color: transparent; border-left: 1px solid; border-left-color: rgba(0,0,0,0.25); }
        


video {position: relative;  transform: translatey(-50%); width:  100%; height: 500px; overflow: hidden;  transform: scale(1) }






.col {width: 100%;  word-wrap: break-word;text-align: center;  font-family: verdana;  background-color: white; margin: auto; display: table;}

.col2 {width: 200px;  word-wrap: break-word;text-align: center;  font-family: verdana;  background-color: white; margin: auto; display: table;}

.box {display: inline-flex; margin-bottom: 4vw; margin-left: 20vw; margin-right: 20vw;}

.banner { height: 500px; background-repeat: no-repeat; background-position: center; background-color:black; margin-top: 60px; margin-bottom: 60px; text-align: center; }



.picture{width: 100%; height: 200px ; background-size: contain; background-repeat: no-repeat; background-position: center;}




.logo {
   height: 12vw;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 24000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 24000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 24000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 24000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
















* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .box {display: grid; margin-left: 4px; margin-right: 4px ; margin-bottom: 15vw}
    .banner {margin-bottom: 10vw}
    .picture{margin-bottom: 10vw; height: 250px;}
    video { height: 70vw;} 
    .banner { height: 63vw; }
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
video { height: 38vw;} 
.banner { height: 38vw; }
.box {display: grid; margin-left: 4px; margin-right: 4px ; margin-bottom: 15vw}
.picture{width: 100%; height: 38vw; background-size: contain; background-position: center; margin-bottom: 10vw;}  
    
    }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
video { height: 46vw;} 
.banner { height: 46vw; }
.box {display: grid; margin-left: 4px; margin-right: 4px ; margin-bottom: 15vw}
.picture{width: 100%; height: 46vw; background-size: contain; background-position: center; margin-bottom: 10vw;}  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .b {display: none}
    
.banner { height: 75vw; margin-bottom: 15vw; overflow: hidden;  }
    
.box {display: grid; margin-left: 4px; margin-right: 4px ; margin-bottom: 15vw}
    
.picture{width: 100%; height: 46vw; background-size: contain; background-position: center; margin-bottom: 25vw;}
 
video {position: relative; height: 75vw; width:  100%;   transform: scale(1.6); } 
    
}





 